.login-outer-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-form{
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 0 auto;
}
.login-form label{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.login-form label>*,
.login-btn,
input{
    height: 36px;
}
input{
    width: 60%;
}
input[type=submit]{
    width: 100%;
    margin-bottom: 2.5%;
}
.login-btn{
    width: 350px;
    margin: 0 auto;
}
#request-success-msg{
    color: red
}
